In [4]:
import pandas as pd
import openpyxl

In [5]:
# source: https://beta.bls.gov/dataQuery/find?st=400&r=100&q=unemployment&fq=cg:[Geography]&fq=cc:[States+and+Territories]&more=0
#df = pd.read_excel(r'H:\My Drive\Umich\Winter 2022\OM 660\Term Project\DataFinder-20220205194712.xlsx', index_col=None, header=None)
#print (df)

# get the excel file from PC
xls = pd.ExcelFile(r'H:\My Drive\Umich\Winter 2022\OM 660\Term Project\DataFinder-20220205194712.xlsx')

E:\Python\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
len(xls.sheet_names)

#append names of all sheets into a list
sheets = []
sheets = xls.sheet_names

In [7]:
len(sheets)
sheets

['LASST010000000000003',
 'LASST020000000000003',
 'LASST040000000000003',
 'LASST050000000000003',
 'LASST060000000000003',
 'LASST080000000000003',
 'LASST090000000000003',
 'LASST100000000000003',
 'LASST110000000000003',
 'LASST120000000000003',
 'LASST130000000000003',
 'LASST150000000000003',
 'LASST160000000000003',
 'LASST170000000000003',
 'LASST180000000000003',
 'LASST190000000000003',
 'LASST200000000000003',
 'LASST210000000000003',
 'LASST220000000000003',
 'LASST230000000000003',
 'LASST240000000000003',
 'LASST250000000000003',
 'LASST260000000000003',
 'LASST270000000000003',
 'LASST280000000000003',
 'LASST290000000000003',
 'LASST300000000000003',
 'LASST310000000000003',
 'LASST320000000000003',
 'LASST330000000000003',
 'LASST330000000000004',
 'LASST340000000000003',
 'LASST340000000000004',
 'LASST350000000000003',
 'LASST350000000000004',
 'LASST360000000000003',
 'LASST360000000000004',
 'LASST370000000000003',
 'LASST370000000000004',
 'LASST380000000000003',
 'LASST380000000000004',
 'LASST390000000000003',
 'LASST400000000000003',
 'LASST410000000000003',
 'LASST420000000000003',
 'LASST440000000000003',
 'LASST450000000000003',
 'LASST450000000000004',
 'LASST460000000000003',
 'LASST460000000000004',
 'LASST470000000000003',
 'LASST480000000000003',
 'LASST490000000000003',
 'LASST500000000000003',
 'LASST510000000000003',
 'LASST530000000000003',
 'LASST540000000000003',
 'LASST540000000000004',
 'LASST550000000000003',
 'LASST560000000000003',
 'LASST720000000000003']

In [8]:
#open a specific sheet in excel
df = pd.read_excel(xls, sheet_name=sheets[0])
df

,Local Area Unemployment Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Series Title,Unemployment Rate: Alabama (S),NaN,NaN
2,Series ID,LASST010000000000003,NaN,NaN
3,Seasonality,Seasonally Adjusted,NaN,NaN
4,Survey Name,Local Area Unemployment Statistics,NaN,NaN
5,Measure Data Type,unemployment rate,NaN,NaN
6,Area,Alabama,NaN,NaN
7,Area Type,Statewide,NaN,NaN
8,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN
10,Year,Period,Label,Observation Value
11,2019,M01,2019 Jan,3.6
12,2019,M02,2019 Feb,3.5
13,2019,M03,2019 Mar,3.3
14,2019,M04,2019 Apr,3.2
15,2019,M05,2019 May,3.1
16,2019,M06,2019 Jun,2.9
17,2019,M07,2019 Jul,2.9
18,2019,M08,2019 Aug,2.8
19,2019,M09,2019 Sep,2.8
20,2019,M10,2019 Oct,2.8
21,2019,M11,2019 Nov,2.7
22,2019,M12,2019 Dec,2.7
23,2020,M01,2020 Jan,2.7
24,2020,M02,2020 Feb,2.6
25,2020,M03,2020 Mar,2.6
26,2020,M04,2020 Apr,13.2
27,2020,M05,2020 May,7.9
28,2020,M06,2020 Jun,7.7
29,2020,M07,2020 Jul,7.4
30,2020,M08,2020 Aug,7.1
31,2020,M09,2020 Sep,6.7
32,2020,M10,2020 Oct,4.7
33,2020,M11,2020 Nov,4.7
34,2020,M12,2020 Dec,4.7
35,2021,M01,2021 Jan,4.3
36,2021,M02,2021 Feb,4
37,2021,M03,2021 Mar,3.8
38,2021,M04,2021 Apr,3.6
39,2021,M05,2021 May,3.4
40,2021,M06,2021 Jun,3.3
41,2021,M07,2021 Jul,3.2
42,2021,M08,2021 Aug,3.1
43,2021,M09,2021 Sep,3.1
44,2021,M10,2021 Oct,3.1
45,2021,M11,2021 Nov,3.1
46,2021,M12,2021 Dec,3.1

In [9]:
#find and append names of states from excel sheets to a list
states = []

i = 0
for sheet in sheets:
    states.append(pd.read_excel(xls, sheet_name=sheets[i])['Unnamed: 1'][6])
    i = i + 1
print(states)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Hampshire', 'New Jersey', 'New Jersey', 'New Mexico', 'New Mexico', 'New York', 'New York', 'North Carolina', 'North Carolina', 'North Dakota', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Carolina', 'South Dakota', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico']

In [10]:
#find all duplicates sheets by states
states_dup = []
for state in set([x for x in states if states.count(x) > 1]):
    states_dup.append(state)
states_dup

['West Virginia',
 'New York',
 'New Jersey',
 'New Mexico',
 'New Hampshire',
 'North Dakota',
 'North Carolina',
 'South Dakota',
 'South Carolina']

In [11]:
#find location of duplicated sheets
states_dup_sheets = []
i = 0
for state in states_dup:
    states_dup_sheets.append(states.index(states_dup[i]))
    i = i +1
states_dup_sheets

[56, 35, 31, 33, 29, 39, 37, 48, 46]

In [12]:
#open duplicates sheets to find out the issues
df = pd.read_excel(xls, sheet_name=states_dup_sheets[0])
df1 = pd.read_excel(xls, sheet_name=states_dup_sheets[0]+1)

In [13]:
df.head(8)

,Local Area Unemployment Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Series Title,Unemployment Rate: West Virginia (S),NaN,NaN
2,Series ID,LASST540000000000003,NaN,NaN
3,Seasonality,Seasonally Adjusted,NaN,NaN
4,Survey Name,Local Area Unemployment Statistics,NaN,NaN
5,Measure Data Type,unemployment rate,NaN,NaN
6,Area,West Virginia,NaN,NaN
7,Area Type,Statewide,NaN,NaN

In [14]:
df1.head(8)

,Local Area Unemployment Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Series Title,Unemployment: West Virginia (S),NaN,NaN
2,Series ID,LASST540000000000004,NaN,NaN
3,Seasonality,Seasonally Adjusted,NaN,NaN
4,Survey Name,Local Area Unemployment Statistics,NaN,NaN
5,Measure Data Type,unemployment,NaN,NaN
6,Area,West Virginia,NaN,NaN
7,Area Type,Statewide,NaN,NaN

In [15]:
#find and append measure data type from excel sheets to a list
data_type = []

i = 0
for sheet in sheets:
    data_type.append(pd.read_excel(xls, sheet_name=sheets[i])['Unnamed: 1'][5])
    i = i + 1
print(data_type)

['unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment rate', 'unemployment', 'unemployment rate', 'unemployment rate', 'unemployment rate']

In [16]:
# find location of unemployment data
indices = [i for i, x in enumerate(data_type) if x == "unemployment"]
indices

[30, 32, 34, 36, 38, 40, 47, 49, 57]

In [17]:
# get names of all the wrong sheets
sheets_to_del = []

i = 0
for index in indices:
    sheets_to_del.append(sheets[indices[i]])
    i = i + 1

sheets_to_del

['LASST330000000000004',
 'LASST340000000000004',
 'LASST350000000000004',
 'LASST360000000000004',
 'LASST370000000000004',
 'LASST380000000000004',
 'LASST450000000000004',
 'LASST460000000000004',
 'LASST540000000000004']

In [18]:
#delete wrong sheets
workbook=openpyxl.load_workbook(xls)

i = 0
for sheet in sheets_to_del:
    std=workbook.get_sheet_by_name(sheets_to_del[i])
    workbook.remove_sheet(std)
    i = i + 1

workbook.save(r'H:\My Drive\Umich\Winter 2022\OM 660\Term Project\unemplyment_rate_by_states.xlsx')

E:\Python\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
<ipython-input-18-0551e558354d>:6: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  std=workbook.get_sheet_by_name(sheets_to_del[i])
<ipython-input-18-0551e558354d>:7: DeprecationWarning: Call to deprecated function remove_sheet (Use wb.remove(worksheet) or del wb[sheetname]).
  workbook.remove_sheet(std)

In [19]:
#check number of states
len(workbook.get_sheet_names())

<ipython-input-19-5d7e2d76dab7>:2: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  len(workbook.get_sheet_names())

52